{% extends 'base.html' %}
{% block title %}物业管理系统{% endblock %}
{% block main %}
    <div class="main-panel">
        <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">公告编辑</h4>
                    <p class="card-description"></p>
                    <form class="forms-sample" action="/login/cre_ann/" method="post">
                        {% csrf_token %}
                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                        {{ announce_form.as_p }}
                        <button type="submit" class="btn btn-success mr-2">提交</button>
                        <!--
                      <button class="btn btn-light">取消</button>
                      -->
                    </form>
                  </div>
                </div>
              </div>
    </div>
{% endblock %}

